[submodule "src/qualisys_ros"]
	path = src/qualisys_ros
	url = https://github.com/zp-yang/qualisys_ros.git
	branch = tii
[submodule "src/visnet"]
	path = src/visnet
	url = https://github.com/zp-yang/visnet.git
	branch = tii
